## A. Configuraciones generales.

In [27]:
#1. Librerías.
%run "../librerias.ipynb"

In [28]:
#2. Constantes.
%run "../constantes.ipynb"

mes_train = mes_train_ult_6_meses
mes_test = mes_test

dataset_output = dataset_file_preprocesado_6_6

In [29]:
#3. Funciones.
%run "../funciones.ipynb"

In [30]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

In [31]:
data_new = pd.read_csv('/Users/federicofilippello/Projects/dmeyf2024/kaggle2/competencia_02_08.csv')

In [32]:
data_new['foto_mes'].unique()

array([202008, 202108, 201908])

#### 1. Valores nulos.

In [33]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
Master_mconsumospesos,60.817957,58.356403,2.461554
Master_cconsumos,60.817957,58.356403,2.461554
Master_cadelantosefectivo,60.817957,58.356403,2.461554
Master_mpagosdolares,60.817957,58.356403,2.461554
...,...,...,...
mpayroll,0.000000,0.000000,0.000000
mpayroll2,0.000000,0.000000,0.000000
cpayroll2_trx,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mforex_buy,0.000000,0.000000,0.000000

#### 2. Valores 0.

In [34]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [35]:
diff_zero_percentage_sorted

,Train Zero Percentage,Score Zero Percentage,diff_zero_percentage
internet,7.980754,96.764425,88.783671
tmobile_app,40.181968,97.435355,57.253387
cforex,70.672576,91.993569,21.320993
cmobile_app_trx,40.898862,20.980767,19.918095
mforex_sell,73.531178,92.252874,18.721696
...,...,...,...
tcuentas,0.000000,0.000000,0.000000
cproductos,0.000000,0.000000,0.000000
cliente_antiguedad,0.000000,0.000000,0.000000
cliente_edad,0.000000,0.000000,0.000000
clase_ternaria,0.000000,0.000000,0.000000

In [38]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5) & 
                                                 (diff_zero_percentage_sorted["Score Zero Percentage"] > diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

TypeError: 'Index' object is not callable

#### 3. Valores <0.

In [28]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Master_Finiciomora,0.002444,0.000000,0.002444
Master_msaldototal,0.004379,0.003627,0.000752
Master_msaldopesos,0.004277,0.003627,0.000651
mactivos_margen,0.001731,0.001209,0.000522
mrentabilidad,0.000102,0.000604,0.000503
...,...,...,...
cpayroll2_trx,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000
mcuenta_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
cseguro_vivienda,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [ ]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [32]:
#1. Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
  if column not in ['foto_mes','numero_de_cliente','clase_ternaria']:
    train_variable = train_data[column]
    score_variable = score_data[column]
    psi_value = psi(train_variable, score_variable)
    psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

/tmp/ipykernel_2547/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [ ]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

                 feature       psi
111   Master_Finiciomora       inf
132     Visa_Finiciomora  0.622660
110  Master_Fvencimiento  0.130568

In [ ]:
#3. Elimino las columnas con un PSI alto.
cols_eliminar = list(psi_df[psi_df["psi"] > 0.1]["feature"])
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_2547/1238236985.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_2547/1238236985.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

## D. Ajustes por inflación.

In [ ]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [ ]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [ ]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)