In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("competencia_01_baja3.csv")

In [8]:
df[(df['clase_ternaria'] =='BAJA+3') & (df['foto_mes']==202102)]

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
223,544961576,202102,1,0,0,66,89,-498.22,-1432.49,17.85,...,-3.0,0.00,-5472.50,0.0,2706.0,2570.17,2.0,0.0,480.93,BAJA+3
579,873964803,202102,1,0,0,34,23,405.04,11719.90,123.76,...,-3.0,0.00,-9788.07,0.0,675.0,8283.28,10.0,0.0,621.69,BAJA+3
732,1002539298,202102,0,0,0,72,100,1.59,3819.17,0.00,...,4.0,0.00,NaN,NaN,1636.0,NaN,NaN,NaN,0.00,BAJA+3
1952,1338158180,202102,1,0,0,33,31,2017.02,14635.84,1685.10,...,-3.0,0.00,NaN,NaN,46.0,NaN,NaN,NaN,0.00,BAJA+3
2034,251168989,202102,1,0,0,53,282,2932.21,14162.84,1730.53,...,-3.0,0.00,-12096.28,0.0,7705.0,0.00,0.0,0.0,3976.47,BAJA+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976340,479350337,202102,1,0,0,50,237,877.36,-419.07,40.63,...,4.0,0.00,-2744.08,0.0,7224.0,0.00,0.0,0.0,0.00,BAJA+3
977276,304006613,202102,1,0,0,79,105,185.83,3073.02,151.71,...,-3.0,0.00,-13005.80,0.0,3178.0,5458.14,5.0,0.0,1231.65,BAJA+3
978449,640025283,202102,1,0,0,46,112,903.89,28514.78,973.03,...,-3.0,0.00,-70380.00,0.0,3412.0,17895.81,15.0,0.0,43553.49,BAJA+3
978783,943130655,202102,0,0,0,30,114,0.01,1405.47,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAJA+3
981301,569049382,202102,1,0,0,58,210,482.37,3920.22,874.45,...,18.0,32641.35,-27371.53,0.0,4634.0,28976.48,13.0,0.0,1771.23,BAJA+3

In [10]:
df[df['numero_de_cliente']== 569049382]

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
981300,569049382,202101,1,0,0,58,209,635.20,3454.42,902.21,...,25.0,27371.53,-23677.18,0.0,4606.0,23769.07,11.0,0.0,1501.44,CONTINUA
981301,569049382,202102,1,0,0,58,210,482.37,3920.22,874.45,...,18.0,32641.35,-27371.53,0.0,4634.0,28976.48,13.0,0.0,1771.23,BAJA+3
981302,569049382,202103,1,0,0,59,211,357.63,4165.63,994.41,...,21.0,30835.91,-32641.35,0.0,4665.0,27879.88,10.0,0.0,1677.39,BAJA+2
981303,569049382,202104,1,0,0,59,212,3471.10,7469.78,4134.63,...,23.0,76018.36,-30835.91,0.0,4695.0,75077.88,9.0,0.0,3777.06,BAJA+1